<mat-toolbar fxLayoutAlign="end center">
  <app-desktop-menu
    fxShow.gt-xs="true"
    fxShow.xs="false"
    (onSignIn)="socialSignIn()"
    (onSignOut)="socialSignOut()"
    [userAdmin]="_admin.user"
  ></app-desktop-menu>
  <app-mobile-menu
    fxShow.xs="true"
    fxShow.gt-xs="false"
    (onSignIn)="socialSignIn()"
    (onSignOut)="socialSignOut()"
    [userAdmin]="_admin.user"
  ></app-mobile-menu>
  <div *ngIf="_admin.user?.image" [ngStyle]="{'background-image': 'url(' + _admin.user.image + ')'}" id="userImage"></div>
</mat-toolbar>
