@import "~_variables.scss";

#userImage {
  width: $image-icon-size;
  height: $image-icon-size;
  border-radius: 50%;
  background-size: cover;
  margin-left: 2px;
}

.inline-flex {
  display: inline-flex;
}

.activeHome {
  background: rgba(0, 0, 0, 0.2);
}
