<h3 *ngIf="!isUpdating; else updating">
  Fill the form to create a new user
</h3>
<ng-template #updating>
  <h3>
    You are updating user {{user.first_name}}
  </h3>
</ng-template>

<div *ngIf="serverErrorTypes" id="server-error">
  <ng-container *ngFor="let errorType of serverErrorTypes">
    <ul>
      <li>{{errorType}}</li>
      <ul>
        <li *ngFor="let error of serverErrors[errorType]">{{error}}</li>
      </ul>
    </ul>
  </ng-container>

</div>

<form [formGroup]="userForm" fxLayout="column" fxLayoutAlign="space-between center">
  <mat-form-field>
    <input matInput
           id="first_name"
           class="form-control"
           formControlName="first_name"
           placeholder="First name"
           required
    >
  </mat-form-field>

  <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)"
       class="error-messages">

    <div *ngIf="first_name.errors.required">
     First name is required.
    </div>
    <div *ngIf="first_name.errors.minlength">
      First name must be at least 2 characters long.
    </div>
    <div *ngIf="first_name.errors.onlyLetters">
      First name can only have letters.
    </div>
  </div>

  <mat-form-field>
    <input matInput
           id="last_name"
           class="form-control"
           formControlName="last_name"
           placeholder="Last name"
           required
    >
  </mat-form-field>

  <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
       class="error-messages">

    <div *ngIf="last_name.errors.required">
      Last name is required.
    </div>
    <div *ngIf="last_name.errors.minlength">
      Last name must be at least 2 characters long.
    </div>
    <div *ngIf="last_name.errors.onlyLetters">
      Last name can only have letters.
    </div>
  </div>

  <mat-form-field>
    <input matInput
           id="iban"
           class="form-control"
           formControlName="iban"
           placeholder="IBAN"
           required
    >
  </mat-form-field>


  <div *ngIf="iban.invalid && (iban.dirty || iban.touched)"
       class="error-messages">
    <div *ngIf="iban.errors.required">
      IBAN is required.
    </div>
    <div *ngIf="iban.errors.wrongIban">
      {{iban.errors.wrongIban.message}}
    </div>
    <div *ngIf="iban.errors.wrongLength">
      The IBAN for {{iban.errors.wrongLength.code}} should be {{iban.errors.wrongLength.codeValue}} long
    </div>
  </div>

</form>

<div class="formRow" fxLayoutAlign="center center" >
  <button mat-icon-button [disabled]="!userForm.valid" (click)="onSubmit()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>cancel</mat-icon>
  </button>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
